.feature-title {
  color: #2dff03;
}
.active {
  color: #755600;
}
a {
  .feature-title {
    color: rgba(60, 255, 0, 0.5);
  }
}
.feature-title {
  font-family: 'Roboto', sans-serif;
}
.feature-title {
  font-style: italic;
}
h1 {
  text-align: center;
}
.kon a {
  text-decoration: none;
  text-transform: uppercase;
}
.accent {
  text-transform: uppercase;
  color: aqua;
}
